{% extends 'base.html' %}

{%  block title %}
Login
{% endblock %}


{%  block content %}


<form class="form-signin text-center" action="{{url_for('login')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <img class="mb-4" src="../static/icons.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p style="color:red">{{message}}</p>
</form>
{% endblock %}


</html>