{% extends 'base.html' %}

{%  block title %}
Login
{% endblock %}
{%  block user %}


<form class="form-inline my-lg-0">
    <div class=" btn-group dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.login}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{url_for('user')}}">Data processing</a>
            <a class="dropdown-item" href="{{url_for('pdf')}}">PDF</a>
            <a class="dropdown-item" href="{{url_for('template')}}">Templates</a>
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="{{url_for('logout')}}">Exit</a>
        </div>
    </div>

</form>

</nav>

{%endblock %}


{%  block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">
            <form class="form-signin text-center" action="{{url_for('pdf')}}" method="POST"
                  novalidate enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal">Load file</h1>

                <p>
                    {{ form.data.label }}<br>
                    {{ form.data(size=14) }}
                </p>
                <p>
                    {{ form.template.label }}<br>
                    {{ form.template() }}
                </p>
                <p>
                    {{ form.template_json.label }}<br>
                    {{ form.template_json() }}
                </p>
                <div class="form-group">
                    <label>Template select</label>
                    <select class="form-control" name="template_select">
                        <option>Choose a template</option>
                        {% for template in templates %}
                        <option value={{template.server_template}}> {{template.template}} - {{template.create_date}}
                        </option>
                        {% endfor %}

                    </select>
                </div>



                <div>
                    <button onclick="myfunction()" class="btn btn-lg btn-primary btn-block " type="submit">Go</button>
                </div>
                <p style="color:red">{{error}}</p>
                <a onclick="this.style.display='none'; return true;" href="{{url_for('uploads',filename=message, login=current_user.login)}}" download>{{message}}</a>
            </form>

        </div>
        <div class="col">

        </div>
    </div>
</div>

{%endblock %}