{% extends 'base.html' %}

{%  block title %}
Registration
{% endblock %}
{%  block user %}
<form class="form-inline my-lg-0">
    <div class=" btn-group dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.login}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{url_for('user')}}">Data processing</a>
            <a class="dropdown-item" href="{{url_for('pdf')}}">PDF</a>
            <a class="dropdown-item" href="{{url_for('template')}}">Templates</a>
            {% if user.root %}
                <a class="dropdown-item" href="{{url_for('registration')}}">Add new user</a>
            {% endif %}
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="{{url_for('logout')}}">Exit</a>
        </div>
    </div>

</form>
{%endblock %}

{%  block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

            <form action="{{url_for('registration')}}" class="form-signin text-center" method="post">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="../static/icons.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
                <p>
                    {{ form.login.label }}<br>
                    {{ form.login(size=32) }}<br>
                    {% for error in form.login.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                <p style="color:red">{{message}}</p>
            </form>

        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

