{% extends 'base.html' %}

{%  block title %}
Login
{% endblock %}


{%  block content %}


<form action="{{url_for('registration')}}" class="form-signin text-center" method="post">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="../static/icons.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}<br>
        {% for error in form.login.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    <p style="color:red">{{message}}</p>
</form>
{% endblock %}


</html>