{% extends 'base.html' %}

{%  block title %}
Reset
{% endblock %}
{%  block user %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a href="{{url_for('registration')}}" class="nav-link">Sing up</a>
    </li>
</ul>
{%endblock %}

{%  block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">
            <form class="form-signin text-center" action="{{url_for('reset_password_request')}}" method="POST" novalidate>
                {{ form.hidden_tag() }}

                <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </p>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Push</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


</html>